@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontspring_demo_-_cera_proBd';
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hanging_lettersregular';
    src: url('../fonts/hanged_letters-webfont.eot');
    src: url('../fonts/hanged_letters-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hanged_letters-webfont.woff2') format('woff2'),
        url('../fonts/hanged_letters-webfont.woff') format('woff'),
        url('../fonts/hanged_letters-webfont.ttf') format('truetype'),
        url('../fonts/hanged_letters-webfont.svg#hanging_lettersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

form {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.closeIcon {
    float: right;
    cursor: pointer;
    color: green;
    text-decoration: none;
}

.separator {
    margin-left: 12px;
    margin-right: 10px;
}

.textGreen {
    color: green;
}

.mainTitle {
    text-align: center;
    margin-bottom: 14px;
}

.inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

input {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 16px;
    box-sizing: border-box
}

.buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    margin-top: 41px;
}

button {
    width: 100%;
    max-width: 300px;
    height: 45px;
    background-color: #46A358;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #059c23;
}

.registerBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 0;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.line span {
    margin: 0 10px;
    color: #666;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #727272;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 10px auto;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
}

.link img {
    margin-right: 10px;
}

.link:hover {
    background-color: #e0e0e0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    margin-bottom: 12px;
}

header .container {
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

header nav ul li a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}

header nav li a::before {
    content: "";
    display: block;
    background-color: #46A358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -25px;
    transition: 0.4s;
}

header nav li a:hover::before {
    width: 100%;
}

header nav ul li {
    position: relative;
}

header nav ul li .dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    padding-top: 40px;
}

header nav li .dropdown a:hover::before {
    display: none;
}

header nav li .dropdown a {
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background-color: #edf6ee;
    line-height: 20px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    transition: 0.3s;
    position: relative;
}

header nav li .dropdown a:hover {
    background-color: #1a712a;
    color: white;
}

header nav li .dropdown li:last-of-type a::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: url("../images/arrow.svg");
}

header nav ul li .dropdown a:hover:after {
    transform: rotate(180deg);
    background-image: url("../images/arrow_hover.svg");
}

header nav ul li.drop:hover .dropdown {
    display: block;
}

header .login {
    background: #46A358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: 0.4s;
}

header .login svg {
    margin-right: 4px;
}

header .login svg path {
    transition: 0.4s;
}

header .login:hover {
    background-color: white;
    color: #46A358;
}

header .login:hover svg path {
    stroke: #46A358;
}

main article {
    padding-left: 40px;
}

.banner {
    margin-bottom: 40px;
}

.banner .container {
    align-items: center;
}

.banner-sub-title {
    text-align: left;
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
    margin-bottom: 30px;
}

.banner-main-title {
    text-align: left;
    font-family: 'cera_problack', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 5px;
}

.banner-main-title span {
    color: #46a358;
}

.banner-paragraph {
    text-align: left;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    padding-bottom: 44px;
}

.banner-redirect {
    background: #46A358;
    border-radius: 6px;
    padding: 10px 26px;
    display: inline;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff
}

.banner-redirect:hover {
    background-color: white;
    color: #46A358;
}

main .banner .container {
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.content {
    flex: 1;
}

.sidebar {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    
}

.sidebar ul {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    padding-bottom: 370px
}

.sidebar h3 {
    font-family: 'fontspring_demo_-_cera_proBd';
    font-size: 18px;
    padding: 18px;
    margin-bottom: 8px;
    text-align: left;
    color: #3d3d3d;
}

.sidebar ul li {
    margin-bottom: 16px;
    font-size: 15px;
    cursor: pointer;
}

.sidebar ul li a {
    text-decoration: none;
    color: #3d3d3d;
}

.sidebar ul li a:active {
    color: #46a358;
    font-family: 'fontspring_demo_-_cera_proBd';
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 90px;
}

.flex-container img {
    width: 250px;
    height: 250px;

}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.nav-panel {
    flex: 1;
}

.nav-panel ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-panel ul li {
    cursor: pointer;
}

.nav-panel ul li a {
    text-decoration: none;
    color: #3d3d3d;
}

.nav-panel ul li a:active {
    color: #46a358;
    text-decoration: underline;
    font-family: 'fontspring_demo_-_cera_proBd';
}

.sort-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sort-label {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    margin-right: 8px;
}

.sort-select {
    border: none;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 15px;
    padding-right: 20px;
}

.product-card {
    text-align: left;
    margin: 10px;
    background: #fbfbfb;
    position: relative;
    width: 250px;
    height: auto;
}

.product-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #46a358;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover::before {
    opacity: 1;
}

.product-image {
    display: block;
    max-width: 250px;
    height: 250px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.product-details {
    margin-top: 8px;
    position: relative;
    padding-bottom: 20px;
}

.product-name {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 16px;
    margin: 5px 0;
}

.product-price {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 18px;
    color: #46A358;
    margin: 0;
}

.banner-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}

.sale-banner {
    width: 100%;
    max-width: 600px;
    mix-blend-mode: multiply;
}

.banner-container h3 {
    font-family: 'hanging_lettersregular';
    font-size: 45px;
    line-height: 100%;
    color: #46a358;
    margin-bottom: 10px;
}

.banner-container p {
    font-family: 'fontspring_demo_-_cera_proBd';
    font-size: 23px;
    line-height: 70%;
    text-align: center;
    color: #3d3d3d;
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 95px;
}

.pagination ul {
    display: flex;
    gap: 10px
}

.pagination ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.pagination ul li:hover a {
    background: #46a358;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}

.pagination ul li:hover a svg path {
    stroke: #fff;
}

.blog-container {
    max-width: 1200px;
    margin: auto;
}

.blog-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 140px;
    position: relative;
  }
  
  .blog-card {
    display: flex;
    justify-content: space-between;
    background: #fbfbfb;
    padding: 20px;
  }
  
  .blog-image {
    width: 289px;
    height: 287px;
    position: absolute;
    top: -20px; 
  }
  
  .blog-details {
    margin-left: 300px;
    text-align: right;
  }
  
  .blog-name {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'cera_problack';
  }
  
  .blog-text {
    margin-bottom: 25px;
    font-family: 'fontspring_demo_-_cera_proRg';
  }
  
  .blog-details a {
    background: #46A358;
    border-radius: 6px;
    padding: 7px 17px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: 0.4s;
  }
  
  .blog-details a:hover {
    background-color: white;
    color: #46A358;
  }
  
  .blog-details a svg {
    align-content: center;
  }
  
  .blog-details a:hover svg path{
    stroke: #46A358;
  }

 .blog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'fontspring_demo_-_cera_proBd';
  }

  .blog-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
    font-family: 'fontspring_demo_-_cera_proRg';
  }

  .blog-post {
    background: #fbfbfb;
  }

  .blog-post-image{
    width: 268px;
    height: 195px;
  }

  .blog-post-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
    font-family: 'cera_promedium';
  }

  .blog-post-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    text-align: left;
    margin: 0;
    font-family: 'fontspring_demo_-_cera_proBd';
  }

  .blog-post-text {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 10px;
    font-family: 'fontspring_demo_-_cera_proRg';
  }

  .blog-post a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
  }

  .image-container {
    width: 250px;
    height: 250px;
    position: relative;
}

  .icons-link {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translate(-50%, 340%); 
    gap: 26px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.flex-container .product-card:hover .icons-link {
    opacity: 1;
}

.icons-link a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    bottom: 180px;
    transition: .3s ease;
}

.icons-link a:hover {
    transform: scale(1.3);
}


.icons-link img {
    width: 100%;
    height: auto;
}

